name: PiDMX
on: workflow_dispatch

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
    QT_VERSION: 6.5.2

jobs:
#  buildMacOS:
#    name: Build PiDMX (MacOS)
#    runs-on: macos-latest

#    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
#        with:
#          path: source
#          submodules: recursive
#          fetch-depth: 0

#      - name: Setup ninja
#        uses: seanmiddleditch/gha-setup-ninja@v3

#      - name: Download Qt (desktop)
#        id: qt-desktop
#        uses: jurplel/install-qt-action@v3
#        with:
#          aqtversion: ==2.1.*
#          version: ${{ env.QT_VERSION }}
#          modules: qtserialport
#          set-env: true

#      - name: Setup SSH
#        uses: MrSquaare/ssh-setup-action@v1
#        with:
#          host: github.com
#          private-key: ${{ secrets.SSH_PRIVATE_KEY }}

#      - name: Cloning PiDMX switching to develop
#        working-directory: source
#        run: |
#          cd ..
#          git clone git@github.com:PiDMXOrg/PiDMX.git
#          cd PiDMX
#          git checkout develop
#          cd ../source

#      - name: Cloning PiDMX Common and switching to develop
#        working-directory: source
#        run: |
#          cd ..
#          git clone git@github.com:PiDMXOrg/PiDMX_Common.git
#          cd PiDMX_Common
#          git checkout develop
#          cd ../source

#      - name: Cloning KDabDockWIdgets 2.0
#        working-directory: source
#        run: |
#          cd ..
#          git clone https://github.com/KDAB/KDDockWidgets.git
#          cd KDDockWidgets
#          git checkout 2.0
#          cd ../source

#      - name: Building KDabDockWIdgets 2.0
#        working-directory: source
#        run: |
#          cd ../KDDockWidgets
#          mkdir build
#          cd build
#          cmake -G Ninja -DCMAKE_INSTALL_PREFIX=../../KDDockWidgets_out -DKDDockWidgets_QTQUICK=ON -DKDDockWidgets_QT6=ON -DCMAKE_BUILD_TYPE=Release -DKDDockWidgets_DEVELOPER_MODE=OFF -DKDDockWidgets_EXAMPLES=OFF -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64" ../
#          cmake --build .
#          cmake --build . --target install
#          cd ../../source

#      - name: Setup Fastlane
#        uses: ruby/setup-ruby@v1
#        with:
#          bundler-cache: true
#          working-directory: source/../PiDMX

#      - name: Build
#        working-directory: source/../PiDMX
#        env:
#          MATCH_PASSWORD: ${{ secrets.PiDMX_MATCH_PASSWORD }}
#        run: |
#          export FL_RUN_CMAKE_XCODE_PATH="${MD_APPLE_SDK_ROOT}"
#          export QT_HOST_PATH="$(readlink -f "$Qt6_DIR/../macos")"
#          bundle exec fastlane mac app_store

#      - name: Upload artifacts
#        uses: actions/upload-artifact@v3
#        with:
#          name: macos-package
#          path: PiDMX/fastlane/build/macos_qt6/PiDMX.ipa

  buildWindows:
    name: Build PiDMX (Windows)
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: source
          submodules: recursive
          fetch-depth: 0

      - name: Setup ninja
        uses: seanmiddleditch/gha-setup-ninja@v3

      - name: Download Qt (desktop)
        id: qt-desktop
        uses: jurplel/install-qt-action@v3
        with:
          aqtversion: ==2.1.*
          version: ${{ env.QT_VERSION }}
          modules: qtserialport
          set-env: true
          arch: "win64_mingw"
          tools: 'tools_ifw'

      - name: Test path
        working-directory: source
        run: |
          ls ${{ env.IQTA_TOOLS }}
          ls ${{ env.IQTA_TOOLS }}/QtInstallerFramework/4.6/bin

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Cloning PiDMX switching to develop
        working-directory: source
        run: |
          cd ..
          git clone git@github.com:PiDMXOrg/PiDMX.git
          cd PiDMX
          git checkout develop
          cd ../source

      - name: Cloning PiDMX Common and switching to develop
        working-directory: source
        run: |
          cd ..
          git clone git@github.com:PiDMXOrg/PiDMX_Common.git
          cd PiDMX_Common
          git checkout develop
          cd ../source

      - name: Cloning KDabDockWIdgets 2.0
        working-directory: source
        run: |
          cd ..
          git clone https://github.com/KDAB/KDDockWidgets.git
          cd KDDockWidgets
          git checkout 2.0
          cd ../source

      - name: Building KDabDockWIdgets 2.0
        working-directory: source
        run: |
          cd ../KDDockWidgets
          mkdir build
          cd build
          cmake -G Ninja -DCMAKE_PREFIX_PATH=%Qt6_DIR% -DKDDockWidgets_QTQUICK=ON -DCMAKE_INSTALL_PREFIX="./../../KDDockWidgets_out" -DKDDockWidgets_QT6=ON -DCMAKE_BUILD_TYPE=Release -DKDDockWidgets_DEVELOPER_MODE=OFF -DKDDockWidgets_EXAMPLES=OFF ../
          cmake --build .
          cmake --build . --target install
          cd ../../source
        env:
          CC: gcc
          CXX: g++

      - name: Build (Release)
        working-directory: source
        run: |
          cd ../PiDMX
          cmake -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=ON -DCMAKE_PREFIX_PATH=%Qt6_DIR% -S . -B "./build" -G "MinGW Makefiles"
          cmake --build ./build
        env:
          CC: gcc
          CXX: g++
          
      - name: Deploying
        working-directory: source
        run: |
          mkdir ../PiDMX/build/deploy
          cp -r ../PiDMX/Resources/Windows/installer/* ../PiDMX/build/deploy
          cd ../PiDMX/build
          mkdir ./deploy/packages/net.pidmx.pidmx/data
          mv ./PiDMX.exe ./deploy/packages/net.pidmx.pidmx/data/PiDMX.exe
          mv ./src/libPiDMXLib.dll ./deploy/packages/net.pidmx.pidmx/data/libPiDMXLib.dll
          mv ./../../KDDockWidgets_out/bin/libkddockwidgets-qt62.dll ./deploy/packages/net.pidmx.pidmx/data/libkddockwidgets-qt62.dll
          mv ./src/Qt-Secret/src/libQt-Secret.dll ./deploy/packages/net.pidmx.pidmx/data/libQt-Secret.dll
          mv ./src/Qt-Secret/src/mini-gmp/src/libQtBigint.dll ./deploy/packages/net.pidmx.pidmx/data/libQtBigint.dll
          cd deploy
          windeployqt ./packages/net.pidmx.pidmx/data/PiDMX.exe --qmldir=./../../src/QML/Views --compiler-runtime
          windeployqt ./packages/net.pidmx.pidmx/data/libPiDMXLib.dll --qmldir=./../../src/QML/Views --compiler-runtime
      
      - name: Creating Installer
        working-directory: source
        run: |
          cd ../PiDMX/build/deploy
          ls ${{ env.IQTA_TOOLS }}/QtInstallerFramework
          ${{ env.IQTA_TOOLS }}/QtInstallerFramework/4.6/bin/binarycreator -c config\config.xml -p packages PiDMX.exe

      - name: Pack artifacts
        working-directory: source
        run: |
          cd ../PiDMX/build/deploy
          tar -cvf pidmx-windows.tar ./PiDMX.exe

      - name: Upload artifacts
        uses: actions/upload-artifact@v2.1.4
        with:
          name: pidmx-windows
          path: |
            D:/a/Runner/Runner/PiDMX/build/deploy/pidmx-windows.tar
